
@{
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<link href="~/css/css/error.css" rel="stylesheet" />
<script src="~/js/error.js"></script>
<div id="wrap">
    <div id="wordsearch">
        <ul>
            <li>k</li>

            <li>v</li>

            <li>n</li>

            <li>z</li>

            <li>i</li>

            <li>x</li>

            <li>m</li>

            <li>e</li>

            <li>t</li>

            <li>a</li>

            <li>x</li>

            <li>l</li>

            <li class="one">4</li>

            <li class="two">0</li>

            <li class="three">4</li>

            <li>y</li>

            <li>y</li>

            <li>w</li>

            <li>v</li>

            <li>b</li>

            <li>o</li>

            <li>q</li>

            <li>d</li>

            <li>y</li>

            <li>p</li>

            <li>a</li>

            <li class="four">p</li>

            <li class="five">a</li>

            <li class="six">g</li>

            <li class="seven">e</li>

            <li>v</li>

            <li>j</li>

            <li>a</li>

            <li class="eight">n</li>

            <li class="nine">o</li>

            <li class="ten">t</li>

            <li>s</li>

            <li>c</li>

            <li>e</li>

            <li>w</li>

            <li>v</li>

            <li>x</li>

            <li>e</li>

            <li>p</li>

            <li>c</li>

            <li>f</li>

            <li>h</li>

            <li>q</li>

            <li>e</li>

            <li class="eleven">f</li>

            <li class="twelve">o</li>

            <li class="thirteen">u</li>

            <li class="fourteen">n</li>

            <li class="fifteen">d</li>

            <li>s</li>

            <li>w</li>

            <li>q</li>

            <li>v</li>

            <li>o</li>

            <li>s</li>

            <li>m</li>

            <li>v</li>

            <li>f</li>

            <li>u</li>
        </ul>
    </div>

    <div id="main-content">
        <h1>We couldn't find what you were looking for.</h1>

        <p>
            Unfortunately the page you were looking for could not be found. It may be
            temporarily unavailable, moved or no longer exist.
        </p>

        <p>
            Check the URL you entered for any mistakes and try again. Alternatively, search
            for whatever is missing or take a look around the rest of our site.
        </p>

   

        <div id="navigation">
          

            <a class="navigation"  href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>
            <a class="navigation"  href="~/Views/Home/Contact.cshtml">~/Views/Home/Contact.cshtml</a>

            <a class="navigation"  href="~/About.cshtml">~/Views/Home/About.cshtml</a>

       


        </div>
    </div>
</div>
