@model List<project_8.Models.class_Accepted>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Index";
}

<h2>Semester Hours Fees</h2>
<div class="ser" style="width:100%;overflow:auto">
    @using (Html.BeginForm("Index", "tableAprove", FormMethod.Get))

    {
        @Html.TextBox("search")
        <input type="Submit" value="search" class="btn btn-light" />
    }
</div>
<table class="table">
    <tr>
        <th>
            <span>UserName</span>
        </th>
        <th>
            <span>Charge</span>
        </th>

        <th>
            <span>Action</span>
        </th>
    </tr>

    @foreach (var item in ViewBag.data)
    {

        <tr>
            <td>
                <span>@item.User_name</span>
                @*@Html.LabelFor(m=>m.User_name)*@
            </td>
            <td>
                <span>@item.charge</span>
                @*@Html.LabelFor(m => m.charge)*@
            </td>
            <td>
                @Html.ActionLink("Paid", "Paid", new { id = item.User_id, payment = item.charge, userName = item.User_name }, new { @class = "btn btn-success" })

            </td>
        </tr>
    }

</table>